Repository smorin/py-launch-blueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, pytest

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [
            "types-requests",
            "types-PyYAML",
            "types-python-dateutil",
            "click>=8.1.3", # Add click
            "types-click>=1.1.0",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        entry: ruff check --force-exclude --no-cache
        args: [--fix]
        language: python
        types_or: [cython, pyi, python]
      - id: ruff-format
        entry: ruff format --force-exclude --no-cache
        language: python
        types_or: [cython, pyi, python]
  - repo: local
    hooks:
      - id: taplo-format
        name: Format TOML files
        entry: taplo format
        language: system
        files: "\\.toml$"
        args: ["--config", ".taplo.toml"]
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false # Run full test suite
        stages: [pre-commit] # Only run on commit

add documentation details about setting up cla
  docs/source/contributing/cla/cla-setup-guide.md
  docs/source/contributing/index.md
Due: none

update cla-setup-guide
  docs/source/contributing/cla/cla-setup-guide.md
Due: none

update suggestions
  docs/source/contributing/cla/cla-setup-guide.md
  docs/source/contributing/index.md
Due: none

update the refrence in readme file
  README.md
Due: none

update in readme file
  README.md
Due: none

fix toml files formatting issue
  pyproject.toml
Due: taplo-format

update the cla-setup-guide file
  docs/source/contributing/cla/cla-setup-guide.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update the taplo-just command to check only toml files
  Justfile
Due: none

update the ruff check in workflow
  .github/workflows/ci.yaml
Due: none

ignore version.py file globally
  py_launch_blueprint/_version.py
Due: pytest

update ci.yaml rufff workflow to check mode
  .github/workflows/ci.yaml
  pyproject.toml
Due: taplo-format

update the taplo-just command to check only toml files (#244)
  Justfile
Due: none

Checking in formating changes
  .pre-commit-config.yaml
  Justfile
  pyproject.toml
Due: taplo-format

Updated script permissions
  .devcontainer/devcontainer.json
Due: none

fix toml files formatting issue (#243)
  pyproject.toml
Due: taplo-format

Update .devcontainer/setup.sh
  .devcontainer/setup.sh
Due: none

update the cla-setup.md file
  docs/source/contributing/cla/cla-setup-guide.md
Due: none

update ruff woekflow command
  .github/workflows/ci.yaml
Due: none

Update scripts/check_license.py
  scripts/check_license.py
Due: pytest

Test PR for GitHub Actions verification
  README.md
Due: none

Fix CLA Assistant GitHub Action version
  .github/workflows/cla.yaml
Due: none

update cla.yml file
  .github/workflows/cla.yaml
Due: none

remov un-used workflow
  .github/workflows/cla-verification.yml
  .github/workflows/cla.yaml
Due: none

remove the duplicate content
  docs/source/contributing/cla/cla-setup-guide.md
Due: none

Update docs/source/contributing/index.md
  docs/source/contributing/index.md
Due: none

undo suggestion changes
  docs/source/contributing/index.md
Due: none

remov redundant ignore checks for version.py file
  pyproject.toml
Due: taplo-format

Update Justfile
  Justfile
Due: none

Update docs/source/license-check.md
  docs/source/license-check.md
Due: none

add a new structured assets folder
  assets/images/logos/py_launch_blueprint_logo_100x100.png
  assets/images/logos/py_launch_blueprint_logo_1024x1024.png
  assets/images/logos/py_launch_blueprint_logo_150x150.png
Due: none

update the new logo path in readme file
  README.md
Due: none

remove the old template-images directory
  template_images/py_launch_blueprint_logo_100x100.png
  template_images/py_launch_blueprint_logo_1024x1024.png
  template_images/py_launch_blueprint_logo_150x150.png
Due: none

update the build command
  Justfile
Due: none
